* {
    font-family: 'Lato', sans-serif;
}

body {
    margin: 0;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    display: flex; 
}

.hidden {
    visibility: hidden;
  }

h1, h2, h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2rem;
}

p {
    display: flex;
    justify-content: center;
}

.player-one-wins, .player-two-wins {
    font-size: 1.5em;
}

.player-one {
    justify-content: flex-start;
    width: 30vw;
    align-items: flex-start;
    background: linear-gradient(-40deg, #001219, #005f73, #0a9396, #94d2bd, #e9d8a6, #ee9b00, #ca6702, #bb3e03, #ae2012, #9b2226);
}

.player-two {
    width: 30vw;
    align-items: flex-end;
    background: linear-gradient(40deg, #001219, #005f73, #0a9396, #94d2bd, #e9d8a6, #ee9b00, #ca6702, #bb3e03, #ae2012, #9b2226);
}

.icon-one, .icon-two {
    font-size: 5em;
    height: 20vh;
}

.gameboard-section {
    display: flex;
    width: 40vw;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    background: linear-gradient(0deg,#001219, #005f73, #0a9396, #94d2bd, #e9d8a6, #ee9b00, #ca6702);
}

.gameboard-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;  
}

.grid {
    width: 33%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
}

.action-msg {
    font-size: 2em;
}

.a2 {
    border-left: 1px solid #000000;    
    border-right: 1px solid #000000;
}

.b1 {
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;;
}

.b2 {
    border: 1px solid #000000;
}

.b3 {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.c2 {
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
}
